.icon-testrail {
	width: 48px;
	height: 55px;
}

.icon-hilan {
	width: 48px;
	height: 68px;
}

.icon-html {
	width: 48px;
	height: 55px;
}

.icon-css {
	width: 48px;
	height: 55px;
}

.icon-poppulo {
	width: 48px;
	height: 55px;
}

.icon-jira {
	width: 48px;
	height: 25px;
}

.icon-qc {
	width: 48px;
	height: 55px;
}

.icon-fiddler {
	width: 55px;
	height: 55px;
}





